@import "tailwindcss";
@custom-variant dark (&:where([class=dark], [class=dark] *));

@font-face {
  font-family: "K2D";
  src: url("../assets/fonts/K2D/") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Litita";
  src: url("../assets/fonts/Lilita_One/LilitaOne-Regular.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background-color: #ffffff;
  color: #111827;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

html.dark body {
  background-color: #030712;
  color: #f3f4f6;
}

header {
  font-family: "Inter", sans-serif;
}
